
# Node, Composer e IDEs
node_modules/
vendor/
.idea/
.vscode/
.fleet/
.zed/

# Laravel
.env
.env.*
/.phpunit.cache
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json

# Storage e cache
storage/*.key
storage/pail/
storage/logs/
storage/framework/
storage/app/public/

# Build e arquivos temporários
public/build/
public/hot
public/storage/
npm-debug.log
yarn-error.log

# Outros
.phpactor.json
